{% extends 'url_shortener/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Create your dream URL{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <div style="margin-top: 20px">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
{% endblock %}
