{% extends 'url_shortener/base.html' %}

{% block title %}Redirects statistics{% endblock %}

{% block content %}

    {% if created_urls %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Short URL</th>
                <th scope="col">Full URL</th>
                <th scope="col">Redirects count</th>
            </tr>
            </thead>
            <tbody>
                {% for short_path, full_url, redirects_count in created_urls %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a class="link-primary" href="{{ request.scheme }}://{{ request.get_host }}/{{ short_path }}">{{ request.scheme }}://{{ request.get_host }}/{{ short_path }}</a></td>
                        <td><a class="link-primary" href="{{ full_url }}">{{ full_url }}</a></td>
                        <td>{{ redirects_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have not created any shortened URLs.</p>
    {% endif %}

{% endblock %}
