{% extends 'url_shortener/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <div style="margin-top: 20px">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
{% endblock %}
