{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'url_shortener/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'url_shortener/bootstrap.bundle.min.js' %}"></script>
    <title>URL Shortener</title>
  </head>
  <body>
    <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'main' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" style="margin-right: 10px">
            <span>URL SHORTENER</span>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'redirects_statistics' %}" class="nav-link px-2 text-white">Redirects Statistics</a></li>
        </ul>

        <div class="text-end">
          {% if user.is_authenticated %}
              <a class="btn btn-outline-light me-2" href="{% url 'logout' %}" role="button">Logout</a>
          {% else %}
              <a class="btn btn-outline-light me-2" href="{% url 'login' %}" role="button">Login</a>
              <a class="btn btn-warning" href="{% url 'register' %}" role="button">Sign-up</a>
          {% endif %}
        </div>
      </div>
    </div>
    </header>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <hr class="mt-0 mb-4">
          <div style="margin-bottom: 33px">
            <h1>{% block title %}{% endblock %}</h1>
          </div>
          {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
          {% endif %}
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
